@model ViewModelLayer.Models.Auction.DisplayAuctionModel

@{
    ViewBag.Title = "Auction details";
}

<div class="col-md-6">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Model.Image" width="100px" height="100px" />
        </dd>
        @using (Html.BeginForm("Bid", "Auctions", FormMethod.Post))
        {
            <div class="form-actions no-color">
                @Html.Hidden("id", Model.Id)
                <input type="submit" value="Bid now!" class="btn btn-default" style="margin: auto; width: 100%"/>
            </div>
        }
    </dl>
</div>
<div class="col-md-6">
    <h3>All bids</h3>
    <table class="table">
        <tr>
            <th>
                Posted by
            </th>
            <th>
                Posted at
            </th>
            <th>
                Amount
            </th>
        </tr>
        @foreach (var bid in Model.bids)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => bid.Username)
                </td>
                <td>
                    @Html.DisplayFor(model => bid.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(model => bid.BidAmount)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
