@model IEnumerable<ViewModelLayer.Models.Auction.DisplayAuctionModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="col-md-6">
        <img src="@item.Image" class="img-responsive" style="height: 200px; width: 200px; margin: auto" />
        <br/>
        <div class="text-center">
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </div>
        <br/>
        <div class="text-center">
            @Html.DisplayFor(modelitem => item.Price)
        </div>
        <br/>
        @using (Html.BeginForm("Bid", "Auctions", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color text-center">
                @Html.Hidden("id", item.Id)
                <input type="submit" value="Bid now!" class="btn btn-default" style="margin: auto; width: 100%"/>
            </div>
        }
    </div>
}